body {
  font-family: 'Roboto', sans-serif;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*****************************************/
/*         AJUSTES BOOTSTRAP              */
/*****************************************/
label {
  margin-bottom: .25rem;
  color: #673ab7;
  font-weight: 400;
  text-transform: uppercase;
}

/*****************************************/
/*            COLOR              */
/*****************************************/
.bg-purple-100 {
  background-color: #d1c4e9;
}

.bg-purple-200 {
  background-color: #b39ddb;
}

.bg-purple-900 {
  background-color: #160d27;
}

.bg-purple-800 {
  background-color: #2c1a4d;
}

.bg-primary {
  background-color: #aa00ff !important;
}

.btn-primary {
  background-color: #673ab7 !important;
  border-color: #673ab7 !important;
}

.btn:hover {
  background-color: #aa00ff !important;
  border-color: #aa00ff !important;
}

.border-primary {
  border-color: #aa00ff !important;
}

/*****************************************/
/*               Login               */
/*****************************************/

.login,
.registro {
  width: 576px;
  display: flex;
  flex-direction: column;
  padding: 4em;
}

.login button,
.registro button {
  margin-top: 2em;
  margin-bottom: 2em;
}

.login .logo,
.registro .logo {
  display: flex;
  justify-content: center;
  height: 35vh;
  vertical-align: center;
  align-items: center;
}

.login .logo img,
.registro .logo img {
  height: 220px;
  vertical-align: center;
}

.link a,
.nav-link {
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 1.5em;
  color: #aa00ff !important;
}

.link a:hover,
.nav-link:hover {
  background-color: #aa00ff !important;
  color: #fff !important;
}

/*****************************************/
/*               CABECERA                */
/*****************************************/

header {
  position: fixed;
  top: 0;
  z-index: 1;
}

header .navbar {
  max-height: 30px;
}

header ul {
  display: flex;
  color: #fff;
  list-style: none;
}

@media (max-width: 576px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    /*  left: 20px; */
    right: 10px;
  }

  .card-dashboard {
    min-height: 29vh;
    width: 88vw;
  }
}

header .logo {
  width: 160px;
}

header button {
  background: none;
  border: none;
  margin-right: 30px;
}

header button i {
  color: #fff;
}

header .navbar {
  width: 100vw;
  align-items: center;
}

header .navbar ul {
  margin: 0;
}

/*****************************************/
/*            CARD RESUMEN               */
/*****************************************/

section.resumen .grafico {
  position: relative;
  left: -40px;
  top: -16px;
  max-height: 260px;
  overflow: hidden;
}

section.resumen .card-title {
  justify-content: center;
  display: flex;
}

section.resumen dl {
  margin: 0;
  padding: 0;
  position: relative;
  left: -30px;
}

section.resumen dt {
  font-weight: 300;
}

section.resumen dd {
  font-size: 2em;
  font-weight: 800;
}

section.resumen dd::before {
  content: ".";
  width: 20px;
  height: 20px;
  background: rgb(246, 156, 85);
  border-radius: 50%;
}

/*************** **************************/
/*            CARD PASOS y SUEÑO               */
/*****************************************/

section.pasos .grafico,
section.suenio .grafico {
  position: relative;
  left: -26px;
  top: 0px;
  max-height: 260px;
  overflow: hidden;
}

section.pasos .card-title,
section.suenio .card-title {
  justify-content: center;
  display: flex;
  margin-top: 0.65em;
}

/*****************************************/
/*             SEGUIMIENTO             */
/*****************************************/

.seguimiento {
  position: absolute;
  top: 16px;
}

.seguimiento .table {
  width: 100vw;
}

.seguimiento .table td {
  border: none;
  justify-content: center;
  text-align: center;
}

.seguimiento .table tr {
  border-bottom: 1px solid #aa00ff;
}

.seguimiento .table tr {
  border-bottom: 1px solid #aa00ff;
}

.seguimiento .table p {
  color: #fff;
  margin: 0;
  font-weight: 300;
}

.seguimiento .table .list-item-dato {
  font-weight: 800;
  font-size: 2em;
  line-height: 26px;
}

.seguimiento .table .list-item-dato {
  font-weight: 800;
  font-size: 2em;
  line-height: 26px;
  margin-top: 0.45em;
}

.seguimiento .table .list-item-dato {
  font-weight: 800;
  font-size: 2em;
  line-height: 26px;
}

.seguimiento .table  i {
  color: #6fb4b4;
}

.seguimiento .table .tiempo i {
  color: #e91e63;
}

.seguimiento .table .kilometros i {
  color: #ffa726;
}

.seguimiento .table .pasos i {
  color: #2196f3;
}

/*****************************************/
/*               SIDEBAR                 */
/*****************************************/

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -23rem;
  margin-right: 1.75rem;

  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .list-group {
  width: 22rem;
  padding: 1.25em 1.5em;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -23rem;
  }
}

/*****************************************/
/*               SIDEBAR                 */
/*****************************************/

.react-datepicker-wrapper {
  width: 100%;
}

.react-time-picker__wrapper {
  border: none;
}

.react-time-picker__clock,
.react-time-picker__clock--open {
  border: none;
}

.react-time-picker__inputGroup {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none !important;

  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.react-time-picker__clock.react-time-picker__clock--open {
    display: none;
}

.react-time-picker__clock-button {
  display: none;
}

.react-time-picker__clear-button {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}
